@import url('https://fonts.cdnfonts.com/css/recoleta');

@font-face {
    font-family: dunkin;
    src: url(../font/Dunkin.otf);
}

.dunkin-font{
    font-family: dunkin;
}
.recoleta-font{
    font-family: 'Recoleta', sans-serif;
}
.btn-pink{
    background-color: #c63663;
    color: white;
}
.btn-outline-brown{
    border: 2px solid #3E342F;
    color: #3E342F;
}
.text-brown{
    color: #3E342F;
    font-size: 17.92px;
}
.text-dunkin{
    color: #EF6A00;
}
.hero-section{
    background-image: url(../images/Manage_Profile_Header_Desktop.png); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    /* height: 270px; */
}
.image-background-2{
    background-image: url(../images/back_to_school_desktop.png); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    /* height: 270px; */
}
.partner-line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #969696; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
.partner-line span { 
     background:#fff; 
     padding:0 10px; 
 }
