@import url('https://fonts.cdnfonts.com/css/recoleta');

@font-face {
    font-family: dunkin;
    src: url(../font/Dunkin.otf);
}

.dunkin-font{
    font-family: dunkin;
}
.recoleta-font{
    font-family: 'Recoleta', sans-serif;
}
.btn-pink{
    background-color: #c63663;
    color: white;
}
.btn-outline-brown{
    border: 2px solid #3E342F;
    color: #3E342F;
}
.text-brown{
    color: #3E342F;
    font-size: 17.92px;
}
.text-dunkin{
    color: #EF6A00;
}
.hero-section{
    background-image: url(../images/Manage_Profile_Header_Desktop.png); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    /* height: 270px; */
}


